.game-canvas-wrapper {
  width: var(--field-width);
  height: var(--field-height);
  aspect-ratio: 7 / 4;
  overflow: hidden;
}

.game-canvas {
  width: 100%;
  height: 100%;
  line-height: 0;
}

.game-canvas canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: pixelated;
}
